.NavArea {
  background-color: #6e00ff;
  height: 98%;
  overflow: hidden;
  border-radius: 15px;
  padding: 10px;
  width: 7.4%;
}
.pageHolder {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #eff6fc;
  padding: 30px;
  justify-content: space-evenly;
}
.onlinePeople {
  width: 40%;
  height: 98%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatSection {
  width: 60%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div ul {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.upperSection {
  height: 50%;
}
.lowerSection {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 30px;
}
.logo {
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.icons {
  height: 30px;
  width: 30px;
  color: #ffffff;
}
