.tileBody {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.imageHolder {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.infoHolder {
  width: 87%;
}
.Names {
  color: #303030;
  font-weight: 600;
  margin-top: 5px;
}
.msg {
  color: #7c7c7c;
  font-size: 13px;
}
